<form class="form-fluid" #f="ngForm" (ngSubmit)="adicionar(f)">
    <div class="row">
        <!--First column-->
        <div class="col-md-3">
            <div class="md-form">
                <input mdbInputDirective type="text" id="form41" class="form-control" name="nome" [(ngModel)]="material.nome">
                <label for="form41" class="">Material</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">
                <input mdbInputDirective type="text" id="form41" class="form-control" name="idsetor" [(ngModel)]="material.fksetor.idsetor">
                <label for="form41" class="">Local</label>
            </div>
        </div>

        <div class="col-md-3">
            <div class="md-form">
                <input mdbInputDirective type="text" id="form41" class="form-control" name="quantidade" [(ngModel)]="material.quantidade">
                <label for="form41" class="">Quantidade</label>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-3">
            <div class="md-form">
                <input mdbInputDirective type="text" id="form51" class="form-control" name="tombo" [(ngModel)]="material.tombo">
                <label for="form51" class="">Tombo</label>
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-3">
            <div class="md-form">
                <input mdbInputDirective type="text" id="form61" class="form-control"  name="validade" [(ngModel)]="material.validade">
                <label for="form61" class="">Validade</label>
            </div>
        </div>
        <div class="col-md-3">
            <label>Categoria</label>
            <select class="browser-default" name="categoria" [options]="categorias" [(ngModel)]="material.fkcategoria.idcategoria">
                <option value="1">Unidade</option>
                <option value="2">Caixa</option>
                <option value="3">Pacote</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Tipo</label>
            <select class="browser-default" name="tipo" [options]="tipos" [(ngModel)]="material.fkmaterialtipo.idmaterialtipo" >
                <option value="1">Permanente</option>
                <option value="2">Provisorio</option>   
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary waves-light" mdbWavesEffect>Salvar</button>
    {{ materiais | json }}
</form>
