<body>
  <!--area principal-->
  
  <!--inicio do menu principal lateral-->
  <div class="menu">
    <div class="menu-container">
      <a class="logo" href="#"><img src="#"></a>
        <h1>Sistema de Solicitacões</h1>
        <nav class="menu-nav">
          <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Solicitacoes</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Sair</a></li>
          </ul>
        </nav>
    </div>
  </div>
  <!--aqui termina o menu principal-->
  
  <main class="intro">
    <h1>Solicitacões</h1>
    <p>Sistema de Solicitacoes de Materiais</p>
  </main>

  <!-- menu de graficos -->
  <section>
    <div>
      <div>
        <h2>Solicitacões</h2>
        <p>Gráfico de mensal de Solicitacões</p>
      </div>
      <div>
        <h2>Materiais</h2>
        <p>Gráfico de mensal de Materiais solicitados</p>
      </div>
      <div>
        <h2>Setor</h2>
        <p>Gráfico de mensal de destino de Solicitacoes</p>
      </div>
    </div>
  </section>
  <!-- fim dos graficos -->

  <!--inincio da area de tabelas  -->
  <!--inincio da area de tabela materiais provisorios  -->
  <section>
    <div>
        <div>
          <h1>Materiais Provisórios</h1>
            <table>
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th>Localização</th>
                  <th>Quantidade</th>
                  <th>Validade</th>
                  <th>Situação</th>
                </tr>
                <tr>
                  <td></td>
                  <td>Cadeira</td>
                  <td>CDES</td>
                  <td>02</td>
                  <td>02/03/2018</td>
                  <td>Disponível</td>
                </tr>
            </table>
        </div>
<!--fim da tabela materiais provisorios -->

<!--inincio da tabela permanentes  -->
        <div>
          <h1>Materiais Permanentes</h1>
          <table>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Localização</th>
              <th>Quantidade</th>
              <th>Tombo</th>
              <th>Situação</th>
            </tr>
            <tr>
              <td></td>
              <td>Cadeira</td>
              <td>CDES</td>
              <td>02</td>
              <td>00-017223</td>
              <td>Disponível</td>
            </tr>
          </table>
        </div>
    </div>
  </section>
  <!--inincio da tabela permante  -->
 <!-- fim da area de tabelas --> 

 <!-- area de notificação de solicitacoes -->
 <section>
   <div>
    notificacoes
   </div>
 </section>
 <!-- fim da notificação de solicitacoes -->

 <!--inicio da area do footer  -->
 <footer>
  <div>
    <p>paragrafo 1</p>
    <p> paragrafo 2</p>
    <img src="">
  </div>
 </footer>
 <!--fim da area de footer  -->
</body>

